<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="">
    <meta name="author" content="kimkkikki" />
    <title>Flask-React boilerplate</title>
</head>
<body>
<div id="root"></div>
</body>
{{ javascript_tag('app') | safe }}
</html>